body{
    background-color: rgb(255, 255, 255);
    background-attachment:local;
    color: rgb(11, 0, 0);
}
.sqro{
    transition: transform 2s;
}
.sqro:hover{
    transform: rotate(180deg);
}
hr{
    width: 10;
    height: 3px;
    background-color: red;
}
.usefull{
    border: 2px solid;
    border-color: rgb(14, 13, 107);
    margin: 0px;
    background-color: rgb(1, 255,6);
    width: 30%;
    /* width: 100vh; */
    float: left;
}
#right{
    width: 50%;
    float: right;
}
.usefull a{
    color: rgb(40, 20, 220);
    font-style: italic;
    
}

/* darkmode css */
.dark-mode {
    background-color: rgb(4, 1, 50);
    background-attachment:local;
    color: rgb(244, 244, 244);
}


.azebmode{
    background-color: rgb(0, 255, 238);
    color: crimson;
}
.center{
    border-radius: 0px;
    border-color: blue;
    background-color: rgb(83, 140, 224);
    box-sizing: border-box;
    margin-inline: 20%;
    text-align: center;
    /* float: none; */
    /* width: 70%; */
}


*{
    margin: 0;
    padding: 0;

}
.main{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 98.5vw;
}
.sun{
    height: 100px;
    position: absolute;
    top: 40vh;
    left: -40px;
}

@keyframes revolveX{
    from{
        left: 0px;
    }
    to{
        left: 500px;
    }
}
@keyframes revolveY{
    from{
        top: 70px;
    }
    to{
        top: 400px;
    }
}

.earth{
    height: 40px;
    position: absolute;
    left:0;
    top: 30px;
    animation: revolveX 2s cubic-bezier(0.26, 0.02, 0.78, 0.98) 0s infinite alternate ,revolveY 4s cubic-bezier(1, 0.05, 0, 0.92) 0s infinite ;
}